*{
	 background-color: rgb(34, 114, 33);
	 color: antiquewhite
}
#center {
	display: column;
	flex-direction: column;
	align-items: ;
}
.text{
	font-size: larger;
	color: rgba(139, 135, 108, 0.889);
}


